.header {
  width: 100%;
  margin: 0 auto;
}

.main-heading {
  font-size: 4.6rem;
  text-align: center;
  margin: 0 auto 1rem;
  line-height: 1;
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 6rem;
  }
}
