.btn {
  display: inline-block;
  background: none;
  color: $black;
  padding: 0.4rem;
  width: 100%;
  margin: 0.6rem auto;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.4s;

  &:hover {
    background: $white;
    color: $black;
  }

  &.add-project-btn,
  &.add-todo-btn,
  &.save-todo-btn {
    background: $black;
    color: $white;
    border: 2px solid transparent;
    padding: 0.8rem;

    &:hover,
    &.open {
      background: $white;
      color: $black;
      border-color: $light-grey-1;
    }
  }
}
