@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin basicWidth {
  width: $basic-width;
  max-width: $basic-max-width;
  margin: 0 auto;
}

// MEDIA QUERY setting
@mixin mq($breakpoint) {
  @if $breakpoint == mob {
    @media only screen and (min-width: 460px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == laptap {
    @media only screen and (min-width: 960px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == xs {
    @media only screen and (max-width: 420px) {
      @content;
    }
  }
}
