// COLORS
$color-primary: #d35266;
$grey: #777;
$light-grey-1: #ccc;
$light-grey-2: #f6f6f6;
$white: #fff;
$black: #202020;

// FONT
$default-font-size: 1.6rem;
// $font-family:

// WIDTH
$basic-width: 94%;
$basic-max-width: 120rem;
