@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// COLORS
$color-primary: #d35266;
$grey: #777;
$light-grey-1: #ccc;
$light-grey-2: #f6f6f6;
$white: #fff;
$black: #202020;

// FONT
$default-font-size: 1.6rem;
$font-family: 'Roboto', sans-serif;

// WIDTH
$basic-width: 94%;
$basic-max-width: 120rem;
