// @import "abstracts/fonts";
// @import "abstracts/variables";
// @import "abstracts/mixins";
// @import "base/base";
// @import "base/typography";
// @import "base/utilities";
// @import "components/form";
// @import "components/header";
// @import "components/footer";
// @import "components/search-area";
// @import "components/basic-figure";
// @import "components/basic-purchase";
// @import "components/hot-ads";
// @import "components/products";


$primary-color: skyblue;

body {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: url(../images/snoopy.jpg) no-repeat;
}
